
*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box; }
	h2{font-size: 15px; color:yellow;margin-top: 15px;}
	.div1{display:flex;justify-content: space-between;background-color:rgb(53, 87, 179);} 		
    .div2{display: flex;justify-content: space-between;margin-top: 30px;margin-right: 15px;}
.c{display: flex;justify-content: space-between;margin-left: 15px;cursor: pointer;}
/* .c:hover{padding: 20px;background-color: rgb(248, 35, 134);} */
tr td img{width: 50%;}
 
      ul {
		list-style: none;
		padding: 0;
	  }ul li {
		
		display: block;
		justify-content: center;
		position: relative;
		
	}
	li{list-style-image: url(img/1637359590869.jpg);}
	 
	ul li a {
		display: block;
		padding: 10px 30px;
		text-decoration: none;
		
		
		
	}
	.catagoria{display: flex; margin-left: 30px;margin-top: 15px;}
	h1{font-size: 100px;color: rgb(255, 0, 76);}
	
	 ul li ul {
		display: none;
		position: relative;
		top: 100%;
		left: 0;
		background: #fff;
		border: 1px solid #ccc;
		z-index: 2;
	}
	.whatsup{display: block; position: fixed;}
	
	H3{font-size: 15px;color: yellow; font-family: Arial, Helvetica, sans-serif;font-style: italic;margin: auto;}
	 ul li:hover ul {
		display: block;
		background-color:rgb(226, 216, 216);
		font-size: 20px;
		color: purple;
		background-color:black;
		
		text-align: center;
		}
		/* buttonanillos */
		/* Ver Detalle ve Comprar butonları için genel stil */
button[data-action="detail"],
button[data-action="buy"] {
    padding: 20px 20px;  /* Buton boyutu */
    margin: 5px;         /* Butonlar arası boşluk */
    border: none;        /* Kenarlık yok */
    cursor: pointer; 
	   /* Mouse üzerine gelindiğinde el işareti */
}
/* kalp seklinde border */
.heart {
	width: 100px;
	height: 100px;
	position: relative;
	background-color: red;
	border-radius: 50%;
	transform: rotate(45deg);
  }
  
  .heart::before,
  .heart::after {
	content: '';
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: red;
	border-radius: 50%;
  }
  
  .heart::before {
	top: -50px;
	left: 0;
  }
  
  .heart::after {
	top: 0;
	left: 50px;
  }
  
/* Ver Detalle butonunun stilini ayarlama */
button[data-action="detail"] {
    background-color: #c2df1f;  /* Mavi arka plan rengi */
    color: white;
	padding: 50px 50px; 
	font-size: 20px;
	text-align: center;
	
	          /* Beyaz yazı rengi */
}
/* sepete ekleme sayma */
.cart-container {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

#cart-icon {
    width: 50px; /* Sepet resminin genişliği */
}
/* Comprar butonunun stilini ayarlama */
button[data-action="buy"] {
    background-color: #f54bd9;  /* Yeşil arka plan rengi */
    color: white;
	padding: 50px 50px; 
	font-size: 20px;
	text-align: center;               /* Beyaz yazı rengi */
}



h1 {
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
	color: rgb(15, 167, 40);
	font-size: 50px;
	text-align: center;
	
  }
  .div3{display: flex;; background-color: black;width: 100%;}
  .divchild{display: flex;}
img{background-size: contain;}
 /* pendientes */
 
 .display{display: flex;justify-content: space-between;gap: 4px; width:100%;}
.border{border: solid 2px black;margin-left: 3px;}
#devam{display: none;}
button{width: 100px; height: 25px; background-color: aqua;font-size: 20px; text-align: center;}


body {
	font-family: Arial, sans-serif;
}

.responsive-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 100px;
}

.responsive-table th, 
.responsive-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

.responsive-table img {
	max-width: 100%;
	height: auto;
}
/* Index html nin css kodlari */
 /* Resmin üstüne gelecek transparan katmanın stilini belirleyelim */
 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 213, 213, 0.5); /* Siyah renk ve %50 opaklıkta bir arka plan oluşturur */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 75px;
position: fixed;
    
  }

  /* Metnin stili */
  .text {
    color: purple ;
    font-size: 24px;
    text-align: center;
    display: fixed;
  }

  /* Resim container'ının pozisyonunu belirleyelim */
  .container {
    position: relative;
    width: 100%;
     /* Örneğin 600 piksel genişlikte bir container belirleyelim */
  margin-top: 100px;
	}

  .display{display: flex;justify-content: space-between;}
@media screen and (max-width: 600px) {
	.responsive-table th, 
	.responsive-table td {
		display: block;
		width: 100%;
	}
}


/* registrar */

   /* Estilos para la ventana modal */
   .modal {
	display: none; 
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7); 
	z-index: 1000; 
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	padding: 20px;
	border-radius: 20px; /* Bordes redondeados */
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	width: 90%; /* Ancho del 90% */
	max-width: 500px; /* Ancho máximo */
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
	font-size: 24px;
}
h4{font-size: 20px;text-align: center;margin-bottom: 10px;}
/* Estilo para el botón */
#openModalBtn {
	padding: 10px 20px;
	background-color: #007BFF;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* Estilo para el botón de registro */
#registerForm button {
	padding:1px;
	background-color: red; /* Cambio de color a rojo */
	color: #ffffff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	;
}
/* catalog menusu */
.menu {
    position: relative;
    display: inline-block;
}

.menu-trigger {
    cursor: pointer;
    padding: 10px;
    
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    background-color: #a0c538;
    list-style-type: none;
    margin: 0;
    padding: 0;
	border-radius: 15px;
	border: solid 4px rgb(211, 233, 12);
}

.submenu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.submenu a:hover {
    background-color: #acd612;
}





/* Estilo para los campos del formulario */
.form-input {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
/* anillos */
h1,h2,h3 {
    text-align: center;
}
#container {
	background-color:antiquewhite;
	padding: 5px;
	width: 700px;
/* 	margin-right: auto;
	margin-left: auto; */
    margin: 0 auto;
    height: 600px;
    display: flex;
    ;flex-direction: column;
	margin-top: 50px;
}
.rojo {
	color: #F00;
	font-size: 18px;
}

.botonera {
    background-color: green;
    color : white;
    font-weight: bolder;
}
.circulo {
    border-radius : 50%;
    border : 1px solid black;
    width :20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

.barra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.circuloActivo {
    visibility: visible;
    background-color: blueviolet;
    color : white;
    border: 2px solid  red;
  

}
.divtexto{display: flex;flex-direction: column;}
.circuloOculto {
    visibility:hidden;
}
#fotoTitulo{
    text-align: center;
    font-size: 20px;
}
button{width: 150px}

@media(min-width:1200px){

	.col-lg-12{width:100%;}
	.col-lg-11{width:91.66666667%;}
	.col-lg-10{width:83.33333333%;}
	.col-lg-9{width:75%;}
	.col-lg-8{width:66.66666667%;}
	.col-lg-7{width:58.33333333%;}
	.col-lg-6{width:50%;}
	.col-lg-5{width:41.66666667%;}
	.col-lg-4{width: 33.33333333%;}
	.col-lg-3{width: 25%;}
	.col-lg-2{width: 16.66666667%;}
	.col-lg-1{width: 8.33333333%;}
	.col-lg-0{display:none;}
	
	
	

	
}

/*=============================================PANTALLA DE
ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal
1024px
=============================================*/
@media screen and (max-width:1199px) and (min-width:992px){

	.col-md-12{width:100%;}
	.col-md-11{width:91.66666667%;}
	.col-md-10{width:83.33333333%;}
	.col-md-9{width:75%;}
	.col-md-8{width:66.66666667%;}
	.col-md-7{width:58.33333333%;}
	.col-md-6{width:50%;}
	.col-md-5{width:41.66666667%;}
	.col-md-4{width: 33.33333333%;}
	.col-md-3{width: 25%;}
	.col-md-2{width: 16.66666667%;}
	.col-md-1{width: 8.33333333%;}
	.col-md-0{display:none;}
	
	 



}
/* indek html */
/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical
768px=============================================*/
@media(max-width:991px) and (min-width:768px){
	.col-sm-12{width:100%;}
	.cod-sm-11{width:91.66666667%;}
	.col-sm-10{width:83.33333333%;}
	.col-sm-9{width:75%;}
	.col-sm-8{width:66.66666667%;}
	.col-sm-7{width:58.33333333%;}
	.col-sm-6{width:50%;}
	.col-sm-5{width:41.66666667%;}
	.col-sm-4{width: 33.33333333%;}
	.col-sm-3{width: 25%;}
	.col-sm-2{width: 16.66666667%;}
	.col-sm-1{width: 8.33333333%;}
	.col-sm-0{display:none;}
	.display{display: inline-flex;}
	.divchild{width: 33.33;}
	 input{width: 33.33;}
	 .div2{width: 33.33;}
		  
		  
	
}
/*=============================================PANTALLA DE PHONES -
EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical
320px=============================================*/
@media(max-width:767px) {
	.col-xs-12{width:100%;}
	.cod-xs-11{width:91.66666667%;}
	.col-xs-10{width:83.33333333%;}
	.col-xs-9{width:75%;}
	.col-xs-8{width:66.66666667%;}
	.col-xs-7{width:58.33333333%;}
	.col-xs-6{width:50%;}
	.col-xs-5{width:41.66666667%;}
	.col-xs-4{width: 33.33333333%;}
	.col-xs-3{width: 25%;}
	.col-xs-2{width: 16.66666667%;}
	.col-xs-1{width: 8.33333333%;}
	.col-xs-0{display:none;}
	
	.div1{display: flex;flex-direction: column;}
		.div2{background-color:rgb(236, 28, 201);}
	.display{display: block;}
	.flexcontainer {
		
		flex-direction: column;
		  flex-basis: 100%;}
		  .flexcontainer div{flex-basis: 100%;}
		  input{width: 95%}
		  .divchild{display: block;}.divchild img{margin-left: 220px;margin-top: 20px;}
        .catagoria{display: flex; flex-direction: column;margin: auto;}
		.catagoria h2{margin-top: 0;}
		.div2{width: 100%;}
		.menu {margin: 0 auto;
			
			display: inline-block;
		}
	
	}

